html {
    font-size: 16px;
}

body {
    font-family: $Myriad-regular;
    font-size: 1rem;
    color: #000;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col,.col-4,.col-8 ,.full-col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .full-col {
    flex: 0 0  100%;
  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
  .col-8 {
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.66666%;
    max-width: 66.666666%;
}
  
  .page-container {
    min-height: 100vh;
    padding-left: 280px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    .mini-sidebar & {
     padding-left: 80px;
  }
}
.main-content {
  padding: calc(70px + 25px) 40px 25px;
  min-height: calc(100vh - 70px);
}

  //for icons page only
  .only-icon {
    font-size: 3.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)(80px);
    grid-template-columns: repeat(auto-fit, 85px);
    grid-gap: 30px;
  }


  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    transition: all 0.3s ease-in-out;
    img {
      align-self: center;
  }
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
    &:first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-footer {
  padding: .75rem 1.25rem;
  border-top: 1px solid rgba(0,0,0,.125);
}

.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.flex-center-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purple-text {
  color: var(--purple);
}

.spacer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

//table
.table-bordered {
  border: 1px solid #dee2e6;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: inherit;
}
.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.text-center {
  text-align: center;
}