.cu-form {
    .cu-row {
        max-width: 900px;
        margin: 0 auto;
    }
    #uploadImg {
        display: none;
    }
    .defaultImg {
        width: 150px;
        height: 150px;
        border: 2px solid $purple;
        border-radius: 50%;
        margin: 0 auto 0.5rem;
        @extend %flex-center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
        }
    }
    label {
        cursor: pointer;
    }
    .btn {
        min-width: 150px;
    }
}




