@font-face {
  font-family: 'MyriadPro';
  src: url('/assets/fonts/webfonts/MyriadPro-Regular.eot');
  src: url('/assets/fonts/webfonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/webfonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro-It';
  src: url('/assets/fonts/webfonts/MyriadPro-It.eot');
  src: url('/assets/fonts/webfonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/webfonts/MyriadPro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('/assets/fonts/webfonts/MyriadPro-Bold.eot');
  src: url('/assets/fonts/webfonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/webfonts/MyriadPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('/assets/fonts/webfonts/proxima-nova-sbold-webfont.eot');
  src: url('/assets/fonts/webfonts/proxima-nova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/webfonts/proxima-nova-sbold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*inscene icons css*/
@font-face {
  font-family: 'inscene';
  src: url('/assets/fonts/inscene-icons/inscene.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/inscene-icons/inscene.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  font-family: 'inscene' !important;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-tablet:before {
  content: "\e900";
}

.icon-info:before {
  content: "\e901";
}

.icon-report:before {
  content: "\e902";
}

.icon-dashboard-amp:before {
  content: "\e903";
}

.icon-dashboard-tab:before {
  content: "\e904";
}

.icon-document:before {
  content: "\e905";
}

.icon-cloud:before {
  content: "\e906";
}

.icon-password-lock:before {
  content: "\e907";
}

.icon-key:before {
  content: "\e908";
}

.icon-password-key:before {
  content: "\e909";
}

.icon-password:before {
  content: "\e90a";
}

.icon-arrow-swap:before {
  content: "\e90b";
}

.icon-translate:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e90d";
}

.icon-up-arrow:before {
  content: "\e90e";
}

.icon-down-arrow:before {
  content: "\e90f";
}

.icon-user:before {
  content: "\e910";
}

.icon-plus:before {
  content: "\e911";
}

.icon-close:before {
  content: "\e912";
}