.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    @extend %flex-center;
    border-bottom: 1px solid #edf2f9;
    height: 70px;
    &__logo {
        max-width: 270px;
        flex-basis: 270px;
        background-color: #f8f8f8;
        position: relative;
        @extend %flex-center;
        justify-content: Left;
        padding-left: 1rem;
        align-self: stretch;
        transition: all 0.2s ease;
        .mini-sidebar & {
            max-width: 80px;
        }
        &-big{
            max-width: 131px;
            .mini-sidebar & {
                display: none;
            }
        }
        &-small{
            width: 34px;
            display: none;
            .mini-sidebar & {
                display: block;
            }
        }
    }
    &__expand-coll{
        transform: rotate(-90deg);
        background-color: $purple;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer;
    }
    &__search {
        min-width: 300px;
        padding-left: 1rem;
        cursor: pointer;
        display: flex;
        .search-btn {
            border: 0;
            background: transparent;
            color: $purple;
            margin-right: 0.5rem;
        }
        .form-control {
            border: 0;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            width: 100%;
            padding-left: 0;
            &:focus {
                outline: none;
                border-bottom: 1px solid $purple;
            }
            &::-webkit-input-placeholder {
                color: $purple;
            }
        }
    }
    &__account {
        margin-left: auto;
        padding-right: 2rem;
        position: relative;
        .user-acc {
            @extend %flex-center;
            cursor: pointer;
            .icon-user {
                font-size: 1.3rem;
                margin-right: 0.5rem;
            }
            .icon-down-arrow {
                font-size: 0.7rem;
                margin-left: 0.8rem;
                margin-top: 0.3rem;
            }
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            min-width: 10rem;
            padding: .25rem 0;
            margin: .5rem 0 0;
            font-size: 1rem;
            color: #212529;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25rem;
            &.open {
                display: block;
            }
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            color: #212529;
            white-space: nowrap;
        }
    }
}
