.quick-access {
    margin-bottom: 2rem;
    a {
        color: #000;
        text-decoration: none;
    }
    .card {
        border: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .card-top {
        min-height: 150px;
        font-size: 3.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        .icon {
            font-weight: normal;
        }
        &.purple {
            background-color: #3a1c5c;
        }
        &.pink {
            background-color: #e0286e;
        }
        &.red {
            background-color: #ce3235;
        }
    }
    .card-footer {
        border: 0;
        h5 {
            margin-bottom: 0;
            font-size: 1rem;
        }
        .icon {
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
}
