.graph-boder{
    border: 1px solid #000;
    height: 250px;
}

.rm-table {
    td:first-child {
        width: 15%;
    }
    td:nth-child(2) {
        width: 35%;
        word-break: break-all;
    }
    td:nth-child(3) {
        width: 15%;
    }
    td:nth-child(4) {
        width: 30%;
    }
    td:last-child {
        width: 15%;
    }
}
.client-list{
    list-style: none;
    padding-inline-start: 15px;

    &_list{
        border-bottom: 1px solid #dee2e6;
        line-height: 75px;
    }
    &_logo{
        width: 75px;
        max-height: 75px;

    }
}
.rp-header{
padding-left:15px;
}