.sidenav {
    position: fixed;
    top: 70px;
    width: 270px;
    z-index: 999;
    background-color: #f8f8f8;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 70px);
    border-right: 1px solid #edf2f9;
    transition: all 0.2s ease;

    .mini-sidebar & {
        width: 80px;
        &:hover {
            width: 270px;
            .nav-item {
                .nav-text, .arrow {
                    display: block;
                }
                &.open .sub-menu {
                    display: block;
                } 
            }

        }
    }    
    ul {
        list-style: none;
    }
    .nav{
        padding: 0;
        margin: 1rem 0 0;
        &-item {
            a {
                position: relative;
                @extend %flex-center;
                padding: 0.7rem 1rem;
                text-decoration: none;
                color: #000;
                cursor: pointer;
                white-space: nowrap;
                &:hover  {
                    background-color: rgba(0,0,0,0.1);
                    color: var(--purple);
                }
            }
            .nav-icon{
                color: #340671;
                font-size: 1.3rem;
                margin-right: 0.8rem;
            }
            .nav-text {
                .mini-sidebar & {
                    display: none;
                }
            }
            .arrow{
                position: absolute;
                right: 15px;
                font-size: 0.75rem;
                .mini-sidebar &  {
                    display: none;
                }
                
            }
            ul.sub-menu {
                display: none;
                .mini-sidebar & {
                    display: none;
                }             
                a:hover {
                    text-decoration: underline;
                } 
            }
            &.active {
                a {
                    background-color: rgba(0,0,0,0.1);
                    color: var(--purple);
                }
                .sub-menu {
                    a {
                        color: #000;
                        background-color: transparent;
                        &:hover {
                            color: $purple;
                        }
                    }
                }
            }
            &.open {
                .arrow .icon-down-arrow:before {
                    content: "\e90e" !important;
                }
                >.sub-menu {
                    display: block;
                    padding-left: 35px;

                    a:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
