.um-header {
    @extend %flex-center;
    justify-content: space-between;
    h5 {
        margin-bottom: 0;
    }
}
.um-table {
    td {
        &:first-child {
            width: 8%;
        }
        &:nth-child(2) {
            width: 15%;
        }
        &:nth-child(3) {
            width: 25%;
            word-break: break-all;
        }
        &:nth-child(4) {
            width: 12%;
        }
        &:nth-child(5) {
            width: 15%;
        }

        &:last-child{
            width: 30%;
        }

    }
    .icon {
        font-size: 1.4rem;
        margin: 0 .3rem;
        cursor: pointer;
    }
}

.tooltip {
    position: relative;
    display: inline-flex;
    &:hover {
        .icon {
            color: red;
        }
        .tooltiptext {
            visibility: visible;
          }
    }
    .tooltiptext {
        visibility: hidden;
        min-width: 120px;
        background-color: #000;
        color: #f8f8f8;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        margin-bottom: 5px;
        font-size: 10px;
        letter-spacing: 0.5px;
      }
}
%badge {
    display: inline-block;
    padding: .4rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10rem;
    color: #fff;
}
.badge-success {
    @extend %badge;
    background-color: $success;   
}
.badge-danger {
    @extend %badge;
    background-color: $danger;
}
.badge-info {
    @extend %badge;
    background-color: $secondary;

}

.ac-list__items {
    margin-bottom: 0.5rem;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    .close-badge {
        color: #fff;
        opacity: 1;
        font-size: 1rem;
        margin: 0 0.5rem;
        font-weight: normal;
        line-height: normal;
    }
}





