$purple : #442846;
$blue: #007bff;
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$white: #fff;

$primary : #442846;
$secondary : #6c757d;
$danger : #dc3545;
$success :#28a745;

$Myriad-regular : 'MyriadPro', sans-serif;
$robot-semibold :'robotomedium', sans-serif;
$MyriadPro-bold :'MyriadPro-Bold', sans-serif;